<!DOCTYPE HTML>
<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="container" layout:fragment="content">
    <h1>Change password</h1>
    <form th:object="${changePassword}" method="post">
        <p>Old password: <input type="password" th:field="*{old}" /></p>
        <p>New password: <input type="password" th:field="*{new1}" /></p>
        <p>New password: <input type="password" th:field="*{new2}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</div>
</body>
</html>