<!DOCTYPE HTML>
<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="container" layout:fragment="content">
    <h1>Events</h1>
    <table class="eventList">
        <thead>
        <tr>
            <th>Title</th>
            <th>Event date</th>
            <th>Next notification</th>
            <th>Last notification</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${events.empty}">
            <td colspan="4">No events</td>
        </tr>
        <tr th:each="event : ${events}">
            <td><span th:text="${event.title}"></span></td>
            <td><span th:text="${event.nextEvent}"></span></td>
            <td><span th:text="${T(org.timequeue.service.EventStore).utcToUserLocalDateTime(event.nextNotification)}"></span></td>
            <td><span th:text="${T(org.timequeue.service.EventStore).utcToUserLocalDateTime(event.lastNotification)}"></span></td>
            <td><a th:text="edit" th:href="'/p/event/' + ${event.id}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>