<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Super simple Time Queue!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .msg_ERROR {
            color: red;
            font-weight: bold;
        }
        .msg_WARN {
            color: orange;
            font-weight: bold;
        }
        .msg_INFO {
            color: green;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p th:text="'Hello, ' + ${user.email} + '!'" />

    <div th:if="${messages != null}">
        <ul>
            <li th:each="i : *{messages}" th:text="${i.text}" th:class="'msg_' + ${i.level}"></li>
        </ul>
    </div>

    <h1>Change password</h1>
    <form action="#" th:action="@{/changepassword}" th:object="${changePassword}" method="post">
        <p>Old password: <input type="text" th:field="*{old}" /></p>
        <p>New password: <input type="text" th:field="*{new1}" /></p>
        <p>New password: <input type="text" th:field="*{new2}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>