.msg_ERROR {
    color: red;
    font-weight: bold;
}
.msg_WARN {
    color: orange;
    font-weight: bold;
}
.msg_INFO {
    color: green;
    font-weight: bold;
}
.deleteNotification {
    cursor: pointer;
}
.saving {
    font-weight: bolder;
    color: olive;
}
.delete_button {
    background-color: red;
    color: white;
}